pipeline/pl_filter_activity_child.json
{
	"name": "pl_filter_activity_child",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ListOfArray",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),5)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter2",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('vahicles')",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item(),'BE')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_landing_source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter3",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'dbo')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ListOfArray": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8
				]
			}
		},
		"variables": {
			"vahicles": {
				"type": "Array",
				"defaultValue": [
					"BMW",
					"AUDI",
					"BENZE"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-18T03:23:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}