pipeline/pl_lookup_child1.json
{
	"name": "pl_lookup_child1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_ONPrem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ReFreshDate",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.RefreshDate",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ReFreshDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-18T03:23:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}